{%extends "jobPage.html"%}
<head><!--Head section-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><!--Linking jQuery to be used-->

  <script type="text/javascript" src="../static/javascript/main.js"></script> <!-- Linking to JS/jQuery -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Above line - no 'main.js' document in javascript folder to connect with! -->

</head>

{%block adminBlock%}
<h3>Add A User</h3>
<form name="AcornForm" action="/addJob" method="post">
  <h3>Title*</h3>
  <div class="alignDiv">
    <select name="title">
      <option value="empty">Please choose a title</option>
      <option value="sir">Sir</option>
      <option value="mr">Mr</option>
      <option value="mrs">Mrs</option>
      <option value="miss">Miss</option>
      <option value="ms">Ms</option>
      <option value="dr">Dr</option>
    </select>
  </div>

  <h3>First Name*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="fName" placeholder="Please enter first name">

  <h3>Last Name*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="lName" placeholder="Please enter last name">

  <h3>Date Of Birth*</h3>
  <div class="date">
    <input type="text" class="dateOfBirth" name="dateOfBirth1" maxlength="2" placeholder="dd">
    <input type="text" class="dateOfBirth" name="dateOfBirth2" maxlength="2" placeholder="mm">
    <input type="text" class="dateOfBirth dateYear" name="dateOfBirth3" maxlength="4" placeholder="yyyy">
  </div>

  <h3>National Insurance Number*</h3>
  <div class="alignDiv">
    <input type="text" class="natInsNum" name="natInNum1" maxlength="2">
    <input type="text" class="natInsNum" name="natInNum2"maxlength="2">
    <input type="text" class="natInsNum" name="natInNum3"maxlength="2">
    <input type="text" class="natInsNum" name="natInNum4"maxlength="2">
    <input type="text" class="natInsNum" name="natInNum5"maxlength="1">
  </div>

  <h3>Address Line 1*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="adLine1" placeholder="Please enter address line 1">

  <h3>Address Line 2*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="adLine2" placeholder="Please enter address line 2">

  <h3>Post Code*</h3>
  <div class="alignDiv">
    <input type="text" class="pCode" name="pCode1" maxlength="4">
    <input type="text" class="pCode" name="pCode2" maxlength="3">
  </div>

  <h3>Contact Number*</h3>
  <p>(maximum 11 digits)</p>
  <input type="text" name="contactNum" placeholder="Please enter phone number">

  <h3>Emergency Contact*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="eContactName" placeholder="Please enter your emergency contacts name">

  <h3>Emergency Contact Number*</h3>
  <p>(maximum 11 digits)</p>
  <input type="text" name="eContactNum" placeholder="Please enter emergency contact number">

  <h3>Qualifications*</h3>
  <p>(maximum 25 characters)</p>
  <input type="text" name="quals1" placeholder="Please enter a qualification">
  <input type="text" name="quals2" placeholder="Please enter a qualification">
  <input type="text" name="quals3" placeholder="Please enter a qualification">

  <h3>CV</h3>
  <p>File extensions accepted: .docx, .pdf</p>
  <!--<input type="file" name="uploadCV" accepted="application/pdf, application/docx">-->
  <input type="file" name="uploadCV" accepted=".pdf, .docx">

  <h3>I Will Be Working Via:*</h3>
  <div class="alignDiv">
    <input type="radio" class="radioInput" name="companyType" value="umbrellaCompany" />
    <label>An Umbrella Company</label>
    <br />
    <br />
    <input type="radio" class="radioInput" name="companyType" value="personalServices" />
    <label>A Personal Services Company</label>
  </div>

  <h3>Company Name*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="companyName" placeholder="Please enter company name">
</section>

<section>
  <h3>Are You Eligible To Work In The UK*</h3>
  <div class="alignDiv">
    <input type="radio" class="radioInput" name="eligibleUK" value="yes">
    <label>Yes</label>
    <br />
    <br />
    <input type="radio" class="radioInput" name="eligibleUK" value="no">
    <label>No</label>
  </div>

  <p>
    <em>*In line with the Home Office guidance on the prevention of illegal
      working we will need to verify and take a copy of your ID documentation
      as evidence of your right to work in the UK.
    </em>
  </p>

  <h3>Documents To Prove Eligibility Of Working In UK</h3>
  <input type="text" name="eligibleUKDocs1" placeholder="Please enter document details*">
  <input type="text" name="eligibleUKDocs2" placeholder="Please enter document details">
  <input type="text" name="eligibleUKDocs3" placeholder="Please enter document details">

  <h3>Do You Have A Current UK Driving License?*</h3>
  <div class="alignDiv">
    <input type="radio" class="radioInput" name="ukDrive" value="yes">
    <label>Yes</label>
    <br />
    <br />
    <input type="radio" class="radioInput" name="ukDrive" value="no">
    <label>No</label>
  </div>

  <h3>Do You Have Any Unspent Criminal Convictions As Per The Rehabilitation Of
    Offenders Act 1974?*
  </h3>
  <div class="alignDiv">
    <input type="radio" class="radioInput" name="crimCheck" value="yes">
    <label>Yes</label>
    <br />
    <br />
    <input type="radio" class="radioInput" name="crimCheck" value="no">
    <label>No</label>
  </div>

  <h3>If Yes - Please Provide Full Details</h3>
  <input type="text" name="crimInfo" placeholder="Please enter criminal conviction information">

  <h3>Do You Consider That You Have A Disability*</h3>
  <div class="alignDiv">
    <input type="radio" class="radioInput" name="disCheck" value="yes">
    <label>Yes</label>
    <br />
    <br />
    <input type="radio" class="radioInput" name="disCheck" value="no">
    <label>No</label>
  </div>
  <p>
    <em>
      *This will help us to decide if there is a need for any adjustments
      to your working arrangements or for your attendance at an interview.<br />
      The Equality Act 2010 defines a disability as a physical or mental impairment
      which has a substancial and long-term adverse effect on a person's ability
      to carry out normal day to day activities.
    </em>
  </p>

  <h3>If Yes - Please Provide Full Details</h3>
  <input type="text" name="disInfo" placeholder="Please enter criminal conviction information">
</section>

<section>
  <h2>Referees</h2>

  <p>Referee 1</p>

  <h3>First Name*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="r1fName" placeholder="Please enter first name">

  <h3>Last Name*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="r1lName" placeholder="Please enter last name">

  <h3>Job Title*</h3>
  <p>(maximum 25 characters)</p>
  <input type="text" name="r1jobTitle" placeholder="Please enter your job title">

  <h3>Company Name*</h3>
  <p>(maximum 25 characters)</p>
  <input type="text" name="r1companyName" placeholder="Please enter the name of your company">

  <h3>Address Line 1*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="r1adLine1" placeholder="Please enter address line 1">

  <h3>Address Line 2*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="r1adLine2" placeholder="Please enter address line 2">

  <h3>Post Code*</h3>
  <div class="alignDiv">
    <input type="text" class="pCode" name="r1pCode1" maxlength="4">
    <input type="text" class="pCode" name="r1pCode2" maxlength="3">
  </div>

  <h3>Contact Number*</h3>
  <p>(11 digits)</p>
  <input type="text" name="r1contactNumber" placeholder="Please enter your contact number">

  <p>Referee 2</p>

  <h3>First Name*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="r2fName" placeholder="Please enter first name">

  <h3>Last Name*</h3>
  <p>(maximum 20 characters)</p>
  <input type="text" name="r2lName" placeholder="Please enter last name">

  <h3>Job Title*</h3>
  <p>(maximum 25 characters)</p>
  <input type="text" name="r2jobTitle" placeholder="Please enter your job title">

  <h3>Company Name*</h3>
  <p>(maximum 25 characters)</p>
  <input type="text" name="r2companyName" placeholder="Please enter the name of your company">

  <h3>Address Line 1*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="r2adLine1" placeholder="Please enter address line 1">

  <h3>Address Line 2*</h3>
  <p>(maximum 30 characters)</p>
  <input type="text" name="r2adLine2" placeholder="Please enter address line 2">

  <h3>Post Code*</h3>
  <div class="alignDiv">
    <input type="text" class="pCode" name="r2pCode1" maxlength="4">
    <input type="text" class="pCode" name="r2pCode2" maxlength="3">
  </div>

  <h3>Contact Number*</h3>
  <p>(11 digits)</p>
  <input type="text" name="r2contactNumber" placeholder="Please enter your contact number">

  <h3>Email Address*</h3>
  <input type="text" name="r2emailAddress" placeholder="Please enter your email address">
</section>

<section>
  <h3>Declaration</h3>
  <p>
    <em>
      The information you provide on this form, associated with registration forms on any CV or additional documents will be used by the
      Acorn Group to provide you with work finding services.<br /><br />
      In providing this service to you, you consent to your personal data being included
      on a computerised database and consent to us transferring your personal data to your clients and other third parties as required for
      recruitment, selection, compliance and payroll purposes.<br /><br />
      We may check the information collected with third parties or with other
      information held by us or our clients.<br />
      I here-by confirm that the information given is true and correct.<br />
      I consent to my personl data being processed as detailed above.<br /><br />
      I understand that providing false information or withholding relevant information will result in the
      termination of an assignment or the withdrawal of an offer of an assignment.
    </em>
  </p>

  <h3>Date will be automatically recorded</h3>
  <input type="submit" value="Submit" onclick="return validateJobForm()">
</form>
{%endblock%}
